.calc-banner {
  padding: 12rem 0;
  background: var(--grey300);

  @include small-tablet {
    padding: 6rem 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 7.5rem;

      @include small-tablet {
        margin-bottom: 3rem;
      }
    }
  }

  &__bottom {
    text-align: center;
  }

  &__title {
    @include small-tablet {
      text-align: center;
      padding-right: 8rem;
    }

    span {
      display: block;
      text-align: right;

      @include small-tablet {
        text-align: center;
        margin-right: -22rem;
      }
    }
  }

  &__text {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2rem;
    color: var(--grey1000);

    @include small-tablet {
      font-size: 1.6rem;
    }
  }
}