.calc-c {
  padding: 12rem 0;
  background: var(--grey300);

  &__title {
    margin-bottom: 2rem;
  }

  &__desc {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__capture {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}