.form {
  text-align: right;

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__input {
    display: block;
    width: 100%;
    background: none;
    padding-bottom: 2rem;
    height: 3.6rem;
    border-bottom: 1px solid var(--grey1000);

    &:focus {
      outline: none;
    }
  }
}