// ваш код
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px 0;
  background-color: var(--grey300);
  transition: background-color .3s ease-out;

  &.scroll {
    background-color: rgba(#dbd5c6, 0.7);
    backdrop-filter: blur(0.625rem);
  }

  &__burger {

    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 30px;
    height: 18px;


    display: none;

    @include small-tablet {
      display: flex;
    }

    .line {
      width: 100%;
      height: 1.7px;
      background-color: var(--grey1000);
      flex-shrink: 0;
      transition: .3s ease-out;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 100%;
      height: 1.7px;
      background-color: var(--grey1000);

      transition: .3s ease-out;
    }



    &.active {
      .line {
        opacity: 0;
      }

      &::before {
        transform: rotate(-45deg) translateY(11px);
      }

      &::after {
        transform: rotate(45deg) translateY(-11px);
      }
    }
  }

  &__logo {
    width: 18rem;
    mix-blend-mode: exclusion;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
    }

    @include small-tablet {
      width: 14rem;
    }

    @include mobile {
      width: 11.6rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__soc {
    display: flex;
    align-items: center;
    gap: 1.5rem;


  }

  &__nav {
    @include small-tablet {
      display: none;
    }
  }

  &__link {
    display: block;
    width: 2rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__tel {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--grey1000);

    @include small-tablet {
      font-size: 1.6rem;
    }

    @include mobile {
      font-size: 1.4rem;
    }
  }
}