.leaders {
  padding: 12rem 0;
  background: var(--grey300);

  @include small-tablet {
    padding: 6rem 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 58rem;
    grid-auto-rows: 58rem;
    gap: 4rem;

    @include small-tablet {
      grid-template-rows: 32.8rem;
      grid-auto-rows: 32.8rem;
      gap: 2rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 4rem;

    @include small-tablet {
      margin-bottom: 2rem;
    }
  }

  &__item {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    margin-bottom: 0.4rem;
  }

  &__about {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--grey300);
    padding-top: 1.7rem;

    @include small-tablet {
      width: 75%;
    }
  }
}