.other {
  padding: 12rem 0;

  @include small-tablet {
    padding: 6rem 0;
  }

  &__title {
    margin-bottom: 4rem;

    @include small-tablet {
      margin-bottom: 3rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include mobile {
      display: flex;
      gap: 0;
    }
  }

  &__item {
    min-height: 26.5rem;

    @include mobile {
      min-height: 20rem;
      width: 90%;
    }

    .ph-item__title {
      font-size: 1.6rem;
    }
  }
}