.project-about {
  padding: 12rem 0;

  @include small-tablet {
    padding: 6rem 0;
    padding-bottom: 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__title {
    margin-bottom: 4rem;
  }

  &__info,
  &__desc {
    margin: 0;
    font-family: var(--second-family);

    font-size: 2rem;
    color: var(--grey1000);

    @include small-tablet {
      font-size: 1.6rem;
    }

    span {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}