.quiz {
  position: relative;

  &__slide {
    height: 100vh;
    padding: 5rem;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: url("./../img/quiz.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 4.8rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light1000);
  }

  &__container {
    max-width: calc(84rem + var(--container-offset) * 2);
    padding: 0 var(--container-offset);
    margin: 0 auto;
  }

  &__logo {
    display: block;
    width: 18rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__tel {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light1000);

    @include hover {
      text-decoration: underline;
    }
  }

  &__soc {
    display: block;
    width: 2.4rem;
    height: 2.4rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 4.8rem;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: var(--light1000);
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 100%;

    max-width: 100rem;
    text-align: center;
    margin: 0 auto;
  }

  &__bottom {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__several {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    gap: .8rem;


    font-family: var(--second-family);
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--grey1000);

    svg {
      width: 2.4rem;
      height: 1.8rem;
    }
  }

  &__quest {
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.03em;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.5rem;
    max-height: 70vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;

    }

    &::-webkit-scrollbar-track {
      background: var(--grey400);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--grey1000);
    }

    &--three {
      padding-right: 1rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem 3rem;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 1.7rem 0.7rem;
    cursor: pointer;
  }

  input[type=radio]:checked+&__radio {
    &::after {
      opacity: 1;
    }
  }

  &__radio {
    position: relative;
    flex-shrink: 0;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    border: 0.5px solid rgba(#000, 0.5);

    &::after {
      content: "";
      position: absolute;
      inset: .3rem;
      background-color: var(--grey1000);
      border-radius: 100%;
      opacity: 0;
    }
  }

  &__answ {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--grey1000);
  }
}

.quiz-control {
  background-color: var(--light1000);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 20;
  left: 0;
  bottom: 0;
  width: 100%;

  padding: 2.5rem 0;
  transition: transform .4s ease-in;
  transform: translateY(100%);

  &.active {
    transform: translateY(0);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    height: 3.2rem;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--light1000);
    text-transform: initial;
    cursor: pointer;

    &--prev {
      width: 3.2rem;
      padding: 0.9rem;
      border: 1px solid rgba(70, 67, 48, 0.5);
      border-radius: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &--next {
      background: var(--grey1000);
      padding: 0.8rem 2.4rem;
    }

    &:not(:last-child) {
      margin-bottom: .8rem;
    }
  }

  &__enter {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 8px;
    color: var(--grey1000);
    text-align: center;

    span {
      font-weight: 600;
    }
  }
}

.quiz-pag {
  &__ready {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: .9rem;
    color: #000;
    margin-bottom: 0.8rem;

    span {
      font-size: 1.1rem;
    }
  }

  &__line {
    height: .3rem;
    width: 31rem;
    background: var(--grey400);
  }
}


.quiz-item {
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid var(--grey1000);
  cursor: pointer;

  input[type=radio]:checked+.quiz-item__radio {
    opacity: 1;
  }

  .quiz-item__radio {
    position: absolute;
    opacity: 0;
    z-index: 3;
    right: 2rem;
    top: 2rem;

    background-color: var(--light1000);
    border: 2px solid var(--grey1000);
  }

  &__img {
    flex-grow: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    padding: 1.5rem 1rem;
    background-color: var(--light1000);
  }
}