<section class="blog-hero">
  <div class="container">
    <h1 class="title2 blog-hero__title">блог inspire group</h1>

    <div class="blog-hero__container">
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/01.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Пример проекта технологии КУХНИ и БАРА
          </div>
        </a>
        <p class="text blog-item__desc">
          Состав альбома: 1. Экспликация помещений. План возводимых перегородок.
          2. План размещения технологического оборудования и мебели….
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/02.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Пример рабочего дизайн-проекта
          </div>
        </a>
        <p class="text blog-item__desc">
          Дизайн проект, состав альбома:   Эскизная часть: • Планировочные
          решения; • Расстановка мебели с определением…
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/03.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Пример рабочего<br />
            дизайн-проекта
          </div>
        </a>
        <p class="text blog-item__desc">
          Студия Inspiregroup предлагает помощь в создании дизайн проектов
          различной сложности. Вдохновлённые и опытные дизайнеры представят…
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/04.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Создание дизайн проекта банкетного зала
          </div>
        </a>
        <p class="text blog-item__desc">
          Зал для банкетов в ресторане или кафе – это место для торжеств в самые
          важные…
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/05.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Создание дизайн проекта Барбершопа
          </div>
        </a>
        <p class="text blog-item__desc">
          Успешный дизайн проект барбершопа предполагает не только оптимальные
          денежные вложения в него, но также является…
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
      <div class="blog-hero__item blog-item">
        <a href="./single.html" class="blog-item__body">
          <div class="blog-item__img">
            <img src="./img/blog/06.webp" alt="" />
          </div>
          <div class="blog-item__name title5">
            Создание дизайн проекта кондитерской
          </div>
        </a>
        <p class="text blog-item__desc">
          Планируете открыть или обновить кондитерскую и считаете, что
          эксклюзивный дизайн в заведении со сладостями не…
        </p>
        <a href="./single.html" class="blog-item__link text"
          >Читать полностью</a
        >
      </div>
    </div>

    <ul class="list-reset pagination">
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">Дальше</a>
      </li>
    </ul>
  </div>
</section>
