<section class="calc-c">
  <div class="container">
    <h2 class="title2 calc-c__title">расчет стоимости на разработку проекта</h2>
    <p class="text calc-c__desc">
      Процесс проектирования ресторана так же сложен, как и его запуск. Как
      известно любому ресторатору, переоборудование пространства в соответствии
      с конкретным видением — непростая задача, особенно когда речь идет об
      оценке стоимости. Точная стоимость проекта зависит от объема работ,
      выбранных материалов и особенностей будущего бренда.
    </p>
    <h4 class="title4 calc-c__capture">
      Затраты на запуск ресторана, связанные с оснащением ресторана,
      определяются рядом переменных, в том числе:
    </h4>
    <ul class="calc-c__list text">
      <li>Размер ресторанного оборудования.</li>
      <li>
        Текущим состоянием полов, стен и потолка (требуется ли их переделка).
      </li>
      <li>
        Какие материалы/оборудование/мебель/крепления/фурнитура уже есть в
        наличии.
      </li>
      <li>Качество готовой отделки.</li>
      <li>Насколько долговечной должна быть отделка ресторана.</li>
      <li>Целевая аудитория вашего ресторана.</li>
      <li>
        Будет производится полная отделка с нуля либо небольшой косметический
        ремонт с подчеркиванием основных аспектов ресторана.
      </li>
    </ul>
    <p class="text calc-c__desc">
      Если вы ищете примерную стоимость отделки ресторана, мы предоставим вам
      примерные цены исходя из ваших целей и задач. Просто свяжитесь с нашими
      менеджерами и они сориентирую вас по всем важным нюансам.
    </p>
  </div>
</section>
