<section class="calc-cost">
  <div class="container">
    <h4 class="subtitle calc-cost__subtitle">расчет стоимости</h4>
    <h2 class="title2 calc-cost__title">
      Рассчитайте стоимость дизайн-проекта интерьера
    </h2>

    <div class="calc-cost__container">
      <div class="calc-cost__calculate">
        <div class="calc-cost__block">
          <div class="calc-cost__sq title4">Общая площадь объекта, м2</div>

          <div class="calc-cost__number">
            <button class="btn-reset minus">-</button>
            <input type="number" min="1" max="1000" value="100" />
            <button class="btn-reset plus">+</button>
          </div>
        </div>

        <div class="calc-cost__block">
          <div class="calc-cost__sq title4">Какие услуги Вам нужны?</div>

          <label class="calc-cost__label calc-radio">
            <input
              checked
              type="checkbox"
              name="service"
              class="visually-hidden calc-radio__radio"
              value="plan"
            />
            <div class="calc-radio__box"></div>
            <div class="calc-radio__name text">Планировочные решения</div>
          </label>
          <label class="calc-cost__label calc-radio">
            <input
              checked
              type="checkbox"
              name="service"
              class="visually-hidden calc-radio__radio"
              value="docs"
            />
            <div class="calc-radio__box"></div>
            <div class="calc-radio__name text">Рабочая документация</div>
          </label>
          <label class="calc-cost__label calc-radio">
            <input
              checked
              type="checkbox"
              name="service"
              class="visually-hidden calc-radio__radio"
              value="3D"
            />
            <div class="calc-radio__box"></div>
            <div class="calc-radio__name text">3D визуализация</div>
          </label>
          <label class="calc-cost__label calc-radio">
            <input
              checked
              type="checkbox"
              name="service"
              class="visually-hidden calc-radio__radio"
              value="material"
            />
            <div class="calc-radio__box"></div>
            <div class="calc-radio__name text">Комплектация материалами</div>
          </label>
          <label class="calc-cost__label calc-radio">
            <input
              checked
              type="checkbox"
              name="service"
              class="visually-hidden calc-radio__radio"
              value="observer"
            />
            <div class="calc-radio__box"></div>
            <div class="calc-radio__name text">Авторский надзор</div>
          </label>
        </div>
      </div>

      <div class="calc-cost__total">
        <div class="calc-cost__body">
          <div class="calc-cost__result">
            <div class="calc-cost__caption">Итоговая стоимость</div>
            <div class="calc-cost__price"><span>240 000</span> руб.</div>
          </div>
          <div class="calc-cost__plan">
            <div class="calc-cost__caption">Тариф “Оптимальный”</div>
            <div class="calc-cost__price">
              <span>1600</span> руб/м<sup>2</sup>
            </div>
          </div>

          <div class="calc-cost__service" data-calc="square">
            <div class="calc-cost__caption">Площадь объекта</div>
            <div class="calc-cost__price"><span>100</span> м<sup>2</sup></div>
          </div>
          <div class="calc-cost__service" data-calc="plan">
            <div class="calc-cost__caption">Планировочные решения</div>
            <div class="calc-cost__price"><span>50 000</span> руб.</div>
          </div>
          <div class="calc-cost__service" data-calc="docs">
            <div class="calc-cost__caption">Рабочая документация</div>
            <div class="calc-cost__price"><span>30 000</span> руб.</div>
          </div>
          <div class="calc-cost__service" data-calc="3D">
            <div class="calc-cost__caption">3D визуализация</div>
            <div class="calc-cost__price"><span>45 000</span> руб.</div>
          </div>
          <div class="calc-cost__service" data-calc="material">
            <div class="calc-cost__caption">Комплектация материалами</div>
            <div class="calc-cost__price"><span>15 000</span> руб.</div>
          </div>
          <div class="calc-cost__service" data-calc="observer">
            <div class="calc-cost__caption">Авторский надзор</div>
            <div class="calc-cost__price"><span>100 000</span> руб.</div>
          </div>
        </div>
        <a href="#" class="btn btn-reset calc-cost__btn btn--trans"
          >обсудить детали

          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.51576 13.5419C7.45561 13.6056 7.40859 13.6804 7.37738 13.7623C7.34617 13.8441 7.33138 13.9312 7.33386 14.0188C7.33633 14.1063 7.35603 14.1925 7.39181 14.2724C7.4276 14.3523 7.47878 14.4244 7.54242 14.4846C7.60607 14.5447 7.68094 14.5917 7.76276 14.623C7.84458 14.6542 7.93174 14.669 8.01928 14.6665C8.10681 14.664 8.193 14.6443 8.27293 14.6085C8.35285 14.5727 8.42494 14.5216 8.48509 14.4579L14.1518 8.45792C14.2688 8.33414 14.334 8.17026 14.334 7.99992C14.334 7.82958 14.2688 7.6657 14.1518 7.54192L8.48509 1.54125C8.42534 1.47621 8.35326 1.42369 8.27305 1.38674C8.19283 1.34979 8.10607 1.32915 8.01781 1.32601C7.92954 1.32287 7.84154 1.33731 7.7589 1.36847C7.67626 1.39964 7.60064 1.44691 7.53643 1.50754C7.47221 1.56818 7.42069 1.64097 7.38484 1.72169C7.349 1.80241 7.32955 1.88944 7.32763 1.97774C7.3257 2.06604 7.34134 2.15384 7.37364 2.23604C7.40594 2.31824 7.45424 2.39321 7.51576 2.45658L12.7504 7.99992L7.51576 13.5419Z"
              fill="#464330"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
