<section class="design">
  <div class="design__container container-right">
    <div class="design__image">
      <img src="./img/design.webp" alt="" />
    </div>

    <div class="design__content">
      <h2 class="title2 design__title">
        проектирование
        <span>помещений под ключ</span>
      </h2>
      <p class="text design__desc">
        Авторский дизайн проект ресторана это произведение искусства, в котором
        воплощен творческий замысел разработчика. Он строится на основании
        полученного от заказчика технического задания, исследования объекта и
        образа, который возник у дизайнера. Компания InspireGroup это группа
        разработчиков дизайна, основные идеи которого зарождаются у Инессы
        Костиной, ведущего дизайнера и руководителя проектов. Дизайн соединение
        технических, инженерных, архитектурных, функциональных и эстетических
        решений, разработка, результатом которой становится полностью готовый
        проект, учитывающий все тонкости и особенности определенного объекта.
        Разработка дизайна ресторана это формирование комплекса решений,
        позволяющих создать гармоничное сочетание функциональности и эстетики. В
        этом сплаве технической мысли и искусства огромную роль играет
        творческое начало создателя проекта, который первоначально создает в
        воображении образ объекта, переводит его в эскизы, чертежи и сметы,
        наблюдает за реализацией и принимает в окончательном виде для передачи
        заказчику.
      </p>
    </div>
  </div>
</section>
