<section class="down-proj">
  <div class="container">
    <div class="down-proj__container">
      <div class="down-proj__content">
        <h2 class="title2 down-proj__title">
          ознакомтесь с Готовым дизайн-проектом
        </h2>
        <p class="down-proj__desc text">
          Дизайн-проект - не только красивый рисунок, полностью воплотивший вашу
          идею. Это профессиональная планировка помещения, грамотное освещение,
          инженерный проект, план электрики, план сантехники, развертки стен,
          план потолков, план полов, разрезы пирога пола и стен, комплектация
          ведомости мебели и отделочных материалов, 3d-визуализация. В нем будут
          просчитаны все цифры для воплощения проекта в жизнь. Дизайн-проект вы
          получите в виде сброшюрованной книги, а также в электронном виде.
        </p>
      </div>
      <a href="3" class="down-proj__link">
        <span class="down-proj__preview">
          <img src="./img/down-proj.webp" alt="" />
        </span>

        <span class="title4 down-proj__capture">полный проект [pdf]</span>
        <p class="down-proj__text">
          Внутри планы, развертки, узлы, 3-d визуализации, техническое задание
          по мебели, спецификации, ведомость объемов работ.
        </p>
      </a>
    </div>
  </div>
</section>
