<section class="facts">
  <div class="container">
    <h2 class="title2 facts__title">факты, которые будут вам интересны</h2>

    <ul class="list-reset facts__list">
      <li class="facts__item f-item" data-acc-container="1">
        <div class="f-item__header title4">
          Уникальность и собственный стиль в интерьере

          <button class="btn-reset f-item__btn" data-acc-btn>
            <img src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="f-item__body" data-acc-content>
          <div class="f-item__content">
            <p class="text">
              Успешность ресторана, бара, клуба и кафе определяется сочетанием
              широкого ряда параметров. Особое место среди них занимает
              уникальность, привлекательность с точки зрения собственного стиля.
              Современное понятие бренда включается в себя много составляющих,
              но узнаваемость и индивидуальность остаются основными, стартовыми.
              Мебель — это те предметы, с которыми посетитель вашего заведения
              сталкивается сразу же при входе и далее контактирует в течение
              всего времени посещения. От удобства, функциональности и эстетики
              мебели зависит то впечатление, что будет основным, определяющим
              дальнейшую привязку клиента к вашему бару или ресторану. Коллектив
              InspireGroup разрабатывает уникальные варианты дизайна интерьера с
              авторской мебелью — все предложенные решения не повторяются! Мы
              разрабатываем не просто набор предметов — мы закладываем основу
              бренда с самого начала и доводим все до полной готовности — под
              ключ!
            </p>

            <div class="f-item__img">
              <img src="./img/facts/01.webp" alt="" />
            </div>
          </div>
        </div>
      </li>
      <li class="facts__item f-item" data-acc-container="1">
        <div class="f-item__header title4">
          Мебель и интерьер — основа создания авторского дизайна

          <button class="btn-reset f-item__btn" data-acc-btn>
            <img src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="f-item__body" data-acc-content>
          <div class="f-item__content">
            <p class="text">
              Успешность ресторана, бара, клуба и кафе определяется сочетанием
              широкого ряда параметров. Особое место среди них занимает
              уникальность, привлекательность с точки зрения собственного стиля.
              Современное понятие бренда включается в себя много составляющих,
              но узнаваемость и индивидуальность остаются основными, стартовыми.
              Мебель — это те предметы, с которыми посетитель вашего заведения
              сталкивается сразу же при входе и далее контактирует в течение
              всего времени посещения. От удобства, функциональности и эстетики
              мебели зависит то впечатление, что будет основным, определяющим
              дальнейшую привязку клиента к вашему бару или ресторану. Коллектив
              InspireGroup разрабатывает уникальные варианты дизайна интерьера с
              авторской мебелью — все предложенные решения не повторяются! Мы
              разрабатываем не просто набор предметов — мы закладываем основу
              бренда с самого начала и доводим все до полной готовности — под
              ключ!
            </p>

            <div class="f-item__img">
              <img src="./img/facts/01.webp" alt="" />
            </div>
          </div>
        </div>
      </li>
      <li class="facts__item f-item" data-acc-container="1">
        <div class="f-item__header title4">
          Компетенции дизайнеров InspireGroup — авторские разработки

          <button class="btn-reset f-item__btn" data-acc-btn>
            <img src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="f-item__body" data-acc-content>
          <div class="f-item__content">
            <p class="text">
              Успешность ресторана, бара, клуба и кафе определяется сочетанием
              широкого ряда параметров. Особое место среди них занимает
              уникальность, привлекательность с точки зрения собственного стиля.
              Современное понятие бренда включается в себя много составляющих,
              но узнаваемость и индивидуальность остаются основными, стартовыми.
              Мебель — это те предметы, с которыми посетитель вашего заведения
              сталкивается сразу же при входе и далее контактирует в течение
              всего времени посещения. От удобства, функциональности и эстетики
              мебели зависит то впечатление, что будет основным, определяющим
              дальнейшую привязку клиента к вашему бару или ресторану. Коллектив
              InspireGroup разрабатывает уникальные варианты дизайна интерьера с
              авторской мебелью — все предложенные решения не повторяются! Мы
              разрабатываем не просто набор предметов — мы закладываем основу
              бренда с самого начала и доводим все до полной готовности — под
              ключ!
            </p>

            <div class="f-item__img">
              <img src="./img/facts/01.webp" alt="" />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
