<section class="faq">
  <div class="container">
    <h4 class="subtitle faq__subtitle">вопросы</h4>
    <h2 class="title2 faq__title">отвечаем на ваши вопросы</h2>

    <ul class="list-reset faq__container">
      <li class="faq__col">
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Что мы сделаем для Вас?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Что такое авторский дизайн заведения?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">
              Что такое дизайн проект ресторана от компании InspireGroup?
            </div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">
              Сколько времени занимает разработка дизайн проекта ресторана?
            </div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Делаете ли вы фото объекта до и после?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="faq__col">
        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">
              Разрабатываете ли Вы 3d визуализацию проекта?
            </div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>

        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Делаете ли вы планировочное решение?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>

        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Какие сроки исполнения дизайн-проекта?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>

        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Есть ли у вас свои строители?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>

        <div class="faq__item" data-acc-container="1">
          <div class="faq__header title5">
            <div class="faq__quest">Занимаетесь ли вы закупками под ключ?</div>
            <button class="btn-reset faq__btn" data-acc-btn>
              <img src="./img/plus.svg" alt="" />
            </button>
          </div>
          <div class="faq__body" data-acc-content>
            <div class="faq__content">
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur nostrum commodi impedit accusantium molestias
                expedita nihil perspiciatis eveniet reiciendis maxime quaerat
                dolorem autem beatae, distinctio maiores eum ratione, quod
                laudantium! Sint molestias delectus itaque, cumque
                necessitatibus commodi quae, laborum dolorem vitae eaque
                sapiente quis nobis tenetur qui ab blanditiis consequatur nemo
                hic aperiam. Officia sit nisi eius quas adipisci accusantium
                fugit optio debitis laudantium delectus deserunt, explicabo
                consectetur voluptates labore, necessitatibus qui molestiae ea
                excepturi neque, facilis illo non quod. Quisquam, labore amet
                culpa exercitationem corporis animi dolor earum deleniti
                distinctio ratione, a ipsa tempore, quidem ex laborum doloremque
                ut!
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
