<section class="leaders">
  <div class="container">
    <h4 class="subtitle leaders__subtitle">руководители студии</h4>

    <h2 class="title2 leaders__title">мы всегда открыты к сотрудничеству</h2>

    <div class="leaders__items">
      <div class="leaders__item">
        <div class="leaders__img">
          <img src="./img/leaders/01.webp" alt="" />
        </div>
        <div class="leaders__about">
          <div class="leaders__name title5">Александр Новиков</div>
          <div class="leaders__prof text">
            Основатель студии, архитектор, координатор проектов.
          </div>
        </div>
      </div>
      <div class="leaders__item">
        <div class="leaders__img">
          <img src="./img/leaders/02.webp" alt="" />
        </div>
        <div class="leaders__about">
          <div class="leaders__name title5">Елизавета Петрова</div>
          <div class="leaders__prof text">
            Директор студии, дизайнер, координатор проектов.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
