<section class="price-proj">
  <div class="container">
    <h4 class="subtitle price-proj__subtitle">цены</h4>
    <h2 class="price-proj__title title2">Стоимость на проектные работы</h2>

    <ul class="list-reset p-table__list">
      <li class="p-table__item price-proj__item">
        <div class="p-table__header">
          <div class="p-table__name title4">Разработка дизайна</div>

          <div class="p-table__cost text">от 1000 руб/м2</div>
        </div>
      </li>
      <li class="p-table__item price-proj__item">
        <div class="p-table__header">
          <div class="p-table__name title4">
            Воплощение дизайна (строительные и ремонтные работы)
          </div>

          <div class="p-table__cost text">от 1000 руб/м2</div>
        </div>
      </li>
      <li class="p-table__item price-proj__item">
        <div class="p-table__header">
          <div class="p-table__name title4">
            Оснащение помещения техническими средствами
          </div>

          <div class="p-table__cost text">от 2500 руб/м2</div>
        </div>
      </li>
    </ul>
  </div>
</section>
