<section class="price-plan">
  <div class="container">
    <h4 class="price-plan__subtitle subtitle">тарифы</h4>
    <h2 class="price-plan__title title2">
      Предлагаем три тарифа<br />на разработку проектной документации
    </h2>

    <div class="price-plan__tabs portfolio__tabs">
      <div class="price-plan__tab portfolio__tab active" data-tab="planirovka">
        тариф «Планировка»
      </div>
      <div class="price-plan__tab portfolio__tab" data-tab="optimal">
        тариф «оптимальный»
      </div>
      <div class="price-plan__tab portfolio__tab" data-tab="fullproj">
        тариф «полный проект»
      </div>
    </div>

    <div
      class="portfolio__content price-plan__content active"
      data-tab-content="planirovka"
    >
      <h4 class="title4 price-plan__capture">
        Состав документации дизайн-проекта по тарифу:
      </h4>

      <div class="price-plan__body">
        <div class="price-plan__left">
          <ul>
            <li class="active">Эскизы планировочных планов помещений</li>
            <li class="active">Итоговая планировка помещений с экспликацией</li>
            <li class="active">Планы покрытия полов, устройства потолков</li>
            <li>Итоговая планировка. План монтажа и демонтажа стен</li>
            <li>План электроснабжения: слаботочные сети и розетки</li>
            <li>План отопления: радиаторы и теплые полы</li>
            <li>План вентиляции помещений</li>
            <li>План освещения помещений</li>
            <li>План расстановки мебели в помещениях</li>
            <li>Планы монтажа и демонтажа перегородок</li>
            <li>План сантехнической разводки и приборов</li>
            <li>Ведомости отделочных материалов и мебели</li>
            <li>Трехмерная визуализация интерьера</li>
            <li>Подбор и расчет отделочных материалов</li>
          </ul>
        </div>

        <div class="price-plan__right">
          <p class="text price-plan__desc">
            Минимальный набор документации, который позволяет четко понимать
            концепцию отделки: планировку и назначения помещений, расстановку
            мебели, покрытия потолков и полов. Технические нюансы отделки и
            устройства инженерных систем в документации не освещены. Набор
            документации подходит для производства косметического ремонта или
            перепланировки.
          </p>

          <div class="price-plan__bottom">
            <span class="price-plan__price title5"
              >От 700 руб/м<sup>2</sup></span
            >
            <a href="#" class="btn btn--trans btn-reset price-plan__btn">
              подробнее о тарифе

              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.51576 13.542C7.45561 13.6057 7.40859 13.6806 7.37738 13.7624C7.34617 13.8442 7.33138 13.9314 7.33386 14.0189C7.33633 14.1064 7.35603 14.1926 7.39181 14.2725C7.4276 14.3525 7.47878 14.4246 7.54242 14.4847C7.60607 14.5448 7.68094 14.5919 7.76276 14.6231C7.84458 14.6543 7.93174 14.6691 8.01928 14.6666C8.10681 14.6641 8.193 14.6444 8.27293 14.6086C8.35285 14.5729 8.42494 14.5217 8.48509 14.458L14.1518 8.45804C14.2688 8.33426 14.334 8.17038 14.334 8.00004C14.334 7.8297 14.2688 7.66582 14.1518 7.54204L8.48509 1.54137C8.42534 1.47633 8.35326 1.42381 8.27305 1.38686C8.19283 1.34991 8.10607 1.32927 8.01781 1.32613C7.92954 1.323 7.84154 1.33743 7.7589 1.36859C7.67626 1.39976 7.60064 1.44703 7.53643 1.50767C7.47221 1.5683 7.42069 1.64109 7.38484 1.72181C7.349 1.80253 7.32955 1.88957 7.32763 1.97786C7.3257 2.06616 7.34134 2.15396 7.37364 2.23616C7.40594 2.31836 7.45424 2.39333 7.51576 2.4567L12.7504 8.00004L7.51576 13.542Z"
                  fill="#464330"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="portfolio__content price-plan__content"
      data-tab-content="optimal"
    >
      <h4 class="title4 price-plan__capture">
        Состав документации дизайн-проекта по тарифу:
      </h4>

      <div class="price-plan__body">
        <div class="price-plan__left">
          <ul>
            <li class="active">Эскизы планировочных планов помещений</li>
            <li class="active">Итоговая планировка помещений с экспликацией</li>
            <li class="active">Планы покрытия полов, устройства потолков</li>
            <li class="active">
              Итоговая планировка. План монтажа и демонтажа стен
            </li>
            <li class="active">
              План электроснабжения: слаботочные сети и розетки
            </li>
            <li class="active">План отопления: радиаторы и теплые полы</li>
            <li class="active">План вентиляции помещений</li>
            <li class="active">План освещения помещений</li>
            <li class="active">План расстановки мебели в помещениях</li>
            <li class="active">Планы монтажа и демонтажа перегородок</li>
            <li class="active">План сантехнической разводки и приборов</li>
            <li>Ведомости отделочных материалов и мебели</li>
            <li>Трехмерная визуализация интерьера</li>
            <li>Подбор и расчет отделочных материалов</li>
          </ul>
        </div>

        <div class="price-plan__right">
          <p class="text price-plan__desc">
            Набор технической документации, описывающий все аспекты ремонта.
            Помимо планировочных решений и экспликаций, включает детальные планы
            всех инженерных систем (электромонтажа, отопления, водоснабжения,
            вентиляции), а также описание применяемых технологий отделки. По
            данному набору документации возможно производство отделки с ноля.
          </p>

          <div class="price-plan__bottom">
            <span class="price-plan__price title5"
              >От 1600 руб/м<sup>2</sup></span
            >
            <a href="#" class="btn btn--trans btn-reset price-plan__btn">
              подробнее о тарифе

              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.51576 13.542C7.45561 13.6057 7.40859 13.6806 7.37738 13.7624C7.34617 13.8442 7.33138 13.9314 7.33386 14.0189C7.33633 14.1064 7.35603 14.1926 7.39181 14.2725C7.4276 14.3525 7.47878 14.4246 7.54242 14.4847C7.60607 14.5448 7.68094 14.5919 7.76276 14.6231C7.84458 14.6543 7.93174 14.6691 8.01928 14.6666C8.10681 14.6641 8.193 14.6444 8.27293 14.6086C8.35285 14.5729 8.42494 14.5217 8.48509 14.458L14.1518 8.45804C14.2688 8.33426 14.334 8.17038 14.334 8.00004C14.334 7.8297 14.2688 7.66582 14.1518 7.54204L8.48509 1.54137C8.42534 1.47633 8.35326 1.42381 8.27305 1.38686C8.19283 1.34991 8.10607 1.32927 8.01781 1.32613C7.92954 1.323 7.84154 1.33743 7.7589 1.36859C7.67626 1.39976 7.60064 1.44703 7.53643 1.50767C7.47221 1.5683 7.42069 1.64109 7.38484 1.72181C7.349 1.80253 7.32955 1.88957 7.32763 1.97786C7.3257 2.06616 7.34134 2.15396 7.37364 2.23616C7.40594 2.31836 7.45424 2.39333 7.51576 2.4567L12.7504 8.00004L7.51576 13.542Z"
                  fill="#464330"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="portfolio__content price-plan__content"
      data-tab-content="fullproj"
    >
      <h4 class="title4 price-plan__capture">
        Состав документации дизайн-проекта по тарифу:
      </h4>

      <div class="price-plan__body">
        <div class="price-plan__left">
          <ul>
            <li class="active">Эскизы планировочных планов помещений</li>
            <li class="active">Итоговая планировка помещений с экспликацией</li>
            <li class="active">Планы покрытия полов, устройства потолков</li>
            <li class="active">
              Итоговая планировка. План монтажа и демонтажа стен
            </li>
            <li class="active">
              План электроснабжения: слаботочные сети и розетки
            </li>
            <li class="active">План отопления: радиаторы и теплые полы</li>
            <li class="active">План вентиляции помещений</li>
            <li class="active">План освещения помещений</li>
            <li class="active">План расстановки мебели в помещениях</li>
            <li class="active">Планы монтажа и демонтажа перегородок</li>
            <li class="active">План сантехнической разводки и приборов</li>
            <li class="active">Ведомости отделочных материалов и мебели</li>
            <li class="active">Трехмерная визуализация интерьера</li>
            <li class="active">Подбор и расчет отделочных материалов</li>
          </ul>
        </div>

        <div class="price-plan__right">
          <p class="text price-plan__desc">
            Полный пакет документации дизайн-проекта. К технической части
            добавляется 3D визуализация помещений (с учетом разных вариантов
            отделки и решений), а также ведомости всех строительных материалов,
            мебели, техники и аксессуаров. Полный комплекс документации дизайн
            проекта позволяет безошибочно рассчитать стоимость ремонта и
            спланировать работы поэтапно.
          </p>

          <div class="price-plan__bottom">
            <span class="price-plan__price title5"
              >От 2200 руб/м<sup>2</sup></span
            >
            <a href="#" class="btn btn--trans btn-reset price-plan__btn">
              подробнее о тарифе

              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.51576 13.542C7.45561 13.6057 7.40859 13.6806 7.37738 13.7624C7.34617 13.8442 7.33138 13.9314 7.33386 14.0189C7.33633 14.1064 7.35603 14.1926 7.39181 14.2725C7.4276 14.3525 7.47878 14.4246 7.54242 14.4847C7.60607 14.5448 7.68094 14.5919 7.76276 14.6231C7.84458 14.6543 7.93174 14.6691 8.01928 14.6666C8.10681 14.6641 8.193 14.6444 8.27293 14.6086C8.35285 14.5729 8.42494 14.5217 8.48509 14.458L14.1518 8.45804C14.2688 8.33426 14.334 8.17038 14.334 8.00004C14.334 7.8297 14.2688 7.66582 14.1518 7.54204L8.48509 1.54137C8.42534 1.47633 8.35326 1.42381 8.27305 1.38686C8.19283 1.34991 8.10607 1.32927 8.01781 1.32613C7.92954 1.323 7.84154 1.33743 7.7589 1.36859C7.67626 1.39976 7.60064 1.44703 7.53643 1.50767C7.47221 1.5683 7.42069 1.64109 7.38484 1.72181C7.349 1.80253 7.32955 1.88957 7.32763 1.97786C7.3257 2.06616 7.34134 2.15396 7.37364 2.23616C7.40594 2.31836 7.45424 2.39333 7.51576 2.4567L12.7504 8.00004L7.51576 13.542Z"
                  fill="#464330"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
