<section class="price-hero">
  <div class="container">
    <h2 class="title2 centered price-hero__title">
      Стоимость услуг компании InspireGroup
    </h2>

    <div class="prices__tables">
      <div class="prices__table p-table">
        <div class="p-table__capture title4 centered">Коммерческие объекты</div>
        <ul class="list-reset p-table__list">
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Дизайн-проект</div>

              <div class="p-table__cost text">от 3000 руб/м2</div>
              <div class="p-table__time text">от 45 дней</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Авторский надзор</div>

              <div class="p-table__cost text">1000 руб/м2</div>
              <div class="p-table__time text">в месяц</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Планировочное решение</div>

              <div class="p-table__cost text">500 руб/м2</div>
              <div class="p-table__time text">в месяц</div>

              <button class="btn-reset p-table__more" data-acc-btn="">
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Дизайн-экспресс</div>
              <div class="p-table__cost text">1000 руб/м2</div>
              <div class="p-table__time text">от 5 дней</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="prices__table p-table">
        <div class="p-table__capture title4 centered">Коммерческие объекты</div>
        <ul class="list-reset p-table__list">
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Дизайн-проект</div>

              <div class="p-table__cost text">от 3000 руб/м2</div>
              <div class="p-table__time text">от 45 дней</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Авторский надзор</div>

              <div class="p-table__cost text">1000 руб/м2</div>
              <div class="p-table__time text">в месяц</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Планировочное решение</div>

              <div class="p-table__cost text">500 руб/м2</div>
              <div class="p-table__time text">в месяц</div>

              <button class="btn-reset p-table__more" data-acc-btn="">
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
          <li class="p-table__item" data-acc-container="1">
            <div class="p-table__header">
              <div class="p-table__name title4">Дизайн-экспресс</div>
              <div class="p-table__cost text">1000 руб/м2</div>
              <div class="p-table__time text">от 5 дней</div>

              <button class="btn-reset p-table__more" data-acc-btn>
                <img src="./img/plus.svg" alt="" />
              </button>
            </div>
            <div class="p-table__content" data-acc-content>
              <div class="p-table__body">
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit quo incidunt, voluptatibus tenetur, veniam nostrum
                  atque enim maiores minima consequuntur dolorem quaerat
                  blanditiis ipsa nam. Doloremque expedita aliquid praesentium
                  quisquam sunt beatae fuga consequatur tenetur aut, autem
                  delectus molestias quos reprehenderit explicabo excepturi
                  tempora quasi necessitatibus doloribus totam! Delectus,
                  corporis?
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
