<section class="project-about">
  <div class="container">
    <h2 class="title2 project-about__title">о проекте</h2>
    <div class="project-about__container">
      <div class="project-about__left">
        <div class="project-about__info">
          <div class="project-about__info">
            <span>Адрес:</span> Москва, ул. Александры Монаховой 89, к.3
          </div>
          <div class="project-about__info"><span>Площадь:</span> 300 м2</div>
          <div class="project-about__info">
            <span>Дата реализации:</span> 2020 год
          </div>
        </div>
      </div>
      <p class="project-about__desc">
        Идея проекта воссоздать краски природы в жилом пространстве, чтобы
        интерьер стал продолжением парка за окном, и в тоже время
        корреспондировался с концепцией ЖК West Garden. В этом дизайне интерьера
        мы стремились реализовать решения уютного паркового павильона,
        наполненного светом. Стиль и мягкое оливковое цветовое содержание в
        сочетании с текстурой натурального дерева и природного камня - отвечают
        общей концепции оформления пространства квартиры.
      </p>
    </div>
  </div>
</section>
