<section class="project-ph">
  <div class="container">
    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/02.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/03.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/04.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/05.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/06.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/07.webp" alt="" />
      </div>
    </div>

    <div class="project-ph__row">
      <div class="project-ph__img">
        <img src="./img/project/08.webp" alt="" />
      </div>
      <div class="project-ph__img">
        <img src="./img/project/09.webp" alt="" />
      </div>
    </div>

    <p class="text project-ph__text">
      Идея проекта воссоздать краски природы в жилом пространстве, чтобы
      интерьер стал продолжением парка за окном, и в тоже время
      корреспондировался с концепцией ЖК West Garden. В этом дизайне интерьера
      мы стремились реализовать решения уютного паркового павильона,
      наполненного светом. Стиль и мягкое оливковое цветовое содержание в
      сочетании с текстурой натурального дерева и природного камня - отвечают
      общей концепции оформления пространства квартиры.
      <br />
      Идея проекта воссоздать краски природы в жилом пространстве, чтобы
      интерьер стал продолжением парка за окном, и в тоже время
      корреспондировался с концепцией ЖК West Garden. В этом дизайне интерьера
      мы стремились реализовать решения уютного паркового павильона,
      наполненного светом. Стиль и мягкое оливковое цветовое содержание в
      сочетании с текстурой натурального дерева и природного камня - отвечают
      общей концепции оформления пространства квартиры.
    </p>
  </div>
</section>
