<section class="testi">
  <div class="container">
    <h4 class="subtitle test__subtitle">отзывы</h4>
    <h2 class="title2 testi__title">Что о нас говорят</h2>
    <div class="swiper testi__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testi__container">
            <div class="testi__left">
              <div class="testi__comment">
                <p class="text">
                  Разнообразный и богатый опыт дальнейшее развитие различных
                  форм деятельности позволяет оценить значение позиций,
                  занимаемых участниками в отношении поставленных задач.
                  Повседневная практика показывает, что сложившаяся структура
                  организации обеспечивает широкому кругу участие в формировании
                  новых предложений. Значимость этих проблем настолько очевидна,
                  что постоянный количественный рост и сфера нашей активности
                  требуют определения и уточнения новых предложений укрепление и
                  развитие структуры. Разнообразный и богатый опыт новая модель
                  организационной деятельности позволяет оценить значение
                  дальнейших направлений и опыта.
                </p>
              </div>
              <span class="testi__author">Александр Нестеров</span>
            </div>
            <div class="testi__right">
              <div class="testi__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/01.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/02.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/03.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/04.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="testi__thumbs swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/01.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/02.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/03.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/04.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testi__container">
            <div class="testi__left">
              <div class="testi__comment">
                <p class="text">
                  Разнообразный и богатый опыт дальнейшее развитие различных
                  форм деятельности позволяет оценить значение позиций,
                  занимаемых участниками в отношении поставленных задач.
                  Повседневная практика показывает, что сложившаяся структура
                  организации обеспечивает широкому кругу участие в формировании
                  новых предложений. Значимость этих проблем настолько очевидна,
                  что постоянный количественный рост и сфера нашей активности
                  требуют определения и уточнения новых предложений укрепление и
                  развитие структуры. Разнообразный и богатый опыт новая модель
                  организационной деятельности позволяет оценить значение
                  дальнейших направлений и опыта.
                </p>
              </div>
              <span class="testi__author">Александр Нестеров</span>
            </div>
            <div class="testi__right">
              <div class="testi__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/01.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/02.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/03.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/04.webp" alt="" />
                  </div>
                </div>
              </div>
              <div class="testi__thumbs swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/01.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/02.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/03.webp" alt="" />
                  </div>
                  <div class="swiper-slide testi__slide">
                    <img src="./img/testi/04.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="control testi__control">
        <div class="control__btn control__btn--prev testi-prev"></div>
        <div class="testi__pagination"></div>
        <div class="control__btn control__btn--next testi-next"></div>
      </div>
    </div>
  </div>
</section>
