<section class="video-hero">
  <div class="container">
    <h2 class="title2 video-hero__title">видео реализации наших проектов</h2>

    <div class="video-hero__items">
      <div class="video-hero__item">
        <iframe
          src="https://www.youtube.com/embed/Yv1JumpKVys?si=nqAm1M1etpB4xR1R"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-hero__item">
        <iframe
          src="https://rutube.ru/play/embed/565cd3cb7a8f09c6803743f2303c1e02/"
          frameborder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-hero__item">
        <iframe
          src="https://rutube.ru/play/embed/565cd3cb7a8f09c6803743f2303c1e02/"
          frameborder="0"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-hero__item">
        <iframe
          src="https://www.youtube.com/embed/Yv1JumpKVys?si=nqAm1M1etpB4xR1R"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
