<section class="working">
  <div class="container">
    <h4 class="subtitle working__subtitle">как мы работаем</h4>
    <h2 class="title2 working__title">поэтапная схема дизайн-проектирования</h2>

    <div class="working__content">
      <div class="working__slider swiper swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">1. Обмерный план</div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/01.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">
                2. Зонирование с расстановкой мебели оборудования
              </div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/02.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">
                3. Эскизы (3D визуализации)
              </div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/03.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">4. Рабочие чертежи</div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/04.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">5. Спецификации</div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/05.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="working__item working__item--slider w-item">
              <div class="w-item__header title4">
                6. Авторский надзор и комплектация
              </div>
              <div class="w-item__body">
                <div class="w-item__content text">
                  Предоставляется заказчиком, либо выполняется нашими
                  профессиональными замерщиками.
                </div>
              </div>
            </div>
            <div class="working__img">
              <img src="./img/working/06.webp" alt="" />
            </div>
          </div>
        </div>

        <div class="working__control control">
          <div class="control__btn control__btn--prev working-prev"></div>
          <div class="working__pagination"></div>
          <div class="control__btn control__btn--next working-next"></div>
        </div>
      </div>

      <div class="working__items">
        <ul class="list-reset working__list">
          <li class="working__item w-item">
            <div class="w-item__header title4">1. Обмерный план</div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
          <li class="working__item w-item">
            <div class="w-item__header title4">
              2. Зонирование с расстановкой мебели оборудования
            </div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
          <li class="working__item w-item">
            <div class="w-item__header title4">3. Эскизы (3D визуализации)</div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
          <li class="working__item w-item">
            <div class="w-item__header title4">4. Рабочие чертежи</div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
          <li class="working__item w-item">
            <div class="w-item__header title4">5. Спецификации</div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
          <li class="working__item w-item">
            <div class="w-item__header title4">
              6. Авторский надзор и комплектация
            </div>
            <div class="w-item__body">
              <div class="w-item__content text">
                Предоставляется заказчиком, либо выполняется нашими
                профессиональными замерщиками.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
